* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Smooth scroll */
html{
  scroll-behavior: smooth;
  
}
:root {
  --blue: #00bcd4;
  --black: #121212;
  --dark-blue: #274548af;
  --white: #fff;
  --bg: #222222;
  --btn-hover: #029db1;
  --bt-gray: #262626;
  --btn-shadow:0px 10px 10px #029db1;
  --hover-shadow: 0 10px 10px #03819243;
  --bg-form: #292929;
  --tran-slate: translate(-4px);
}

body{
  background-color: var(--bg);
}
/* ======Header========= */
header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  box-shadow: 0 1px 2px gold;
  position: sticky;
  top: 0;
  z-index: 3;
}
/* nav-Logo */
header .nav-logo h3 {
  font-size: 30px;
  font-family: sans-serif;
  color: var(--white);
}

header .nav-logo h3 span {
  color: var(--blue);
}

/* nav-menu */
header .nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}

header .nav-menu li a {
  text-decoration: none;
  color: var(--white);
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  transition: all 0.3s;
  font-size: 14px;
}

header .nav-menu li a:not(.ct):hover,
footer ul li a:hover{
  color: var(--blue);

}

header .nav-menu li .ct,
main .hero .btn button{
  padding: 12px 25px;
  background-color: var(--blue);
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: var(--hover-shadow);
}
/* Main */
main{
  padding: 0px 150px;
}

header .nav-menu li .ct:hover,
main .hero .btn button:hover,
main .contact form .formbtn button:hover{
  transform:var(--tran-slate);
  box-shadow: var(--hover-shadow);
}
 /* ===========Body========== */

 /* ===========hero========== */
main .hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .hero h1{
  font-family: sans-serif;
  font-size: 55px;
  text-align: center;
  color: var(--white);
  line-height: 85px;
}

main .hero h1 span{
  color:var(--blue);
}

main .hero p{
  font-family: sans-serif;
  text-align: center;
  margin: 10px 0;
  color: var(--white);
}
 /* btn */
main .hero .btn{
  margin-top: 20px;
}

main .hero .btn button{
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
main .hero .btn .btn-touch{
  background-color: transparent;
}

/* ======about====== */
main .about{
  width: 100%;
}

main .about h3,main .project h3,
main .contact h3{
  color: var(--blue);
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 650;
  margin-bottom: 30px;
}

  /* group-box */
  main .about .group-box{
width: 100%;
  }

/* box */
main .about .group-box .boxone,
main .about .group-box .boxthree .box,
main .project .projectbox .box,
main .contact form{
  width: 100%;
  background-color: var(--bg-form);
  border: 1px solid gray;
  border-radius: 12px;
  padding: 25px;
  color: var(--white);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.3s;
}
main .about .group-box .boxone:hover,
main .about .group-box .boxthree .box:hover,
main .project .projectbox .box:hover,
main .contact form:hover{
transform: translateY(-4px);
box-shadow: var(--hover-shadow);
}

/* ==========boxthree======== */
main .about .group-box .boxthree,
main .project .projectbox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

main .about .group-box .boxthree .box,
main .project .projectbox .box{
  width: 33%;
}
main .about .group-box .boxthree h5,
main .project .projectbox h5{
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
/* Project */
main .project,
main .contact{
  width: 100%;
  margin-top: 100px;
}

main .project .projectbox .box h5{
  color: var(--blue);

}
main .project .projectbox .box .btnbox{
  margin-top: 10px;
}
main .project .projectbox .box .btnbox button,
main .contact form .formbtn button{
  padding: 7px 15px;
  border: none;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--blue);
  font-weight: bold;
  /* background-color:antiquewhite; */
}
/* contact */
main .contact{
  width:50%;
  margin:100px auto 0 auto;
}
main .contact form{
padding: 35px;
}
main .contact form .groupform{
  margin-bottom: 17px;

}
main .contact form .groupform label{
 font-weight: bold;
}
main .contact form .groupform input,
main .contact form .groupform textarea{
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: var(--bg-form);
  color: #fff;
  margin-top: 12px;
  border: none;
  outline: 1px solid ;
}
main .contact form .groupform input:focus,
main .contact form .groupform textarea:focus{
  border:1px solid var(--blue);
}
main .contact form .groupform textarea{
  height: 150px;
}
main .contact form .formbtn button{
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
footer{
  padding: 20px;
  background-color: var(--black);
  margin-top: 100px;
}
footer p{
  color: var(--white);
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
}

footer ul{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  list-style: none;
}
footer ul li a{
color: white;
text-decoration: none;
font-family: sans-serif;
font-weight: bold;
transition: all 0.3s;

}
/* ===========Responsive========= */
/* 1300 */
@media(max-width:1300px){
  main .project .projectbox{
    flex-wrap: wrap;
  }
  main .project .projectbox .box{
    width: 48.5%;
  }
}
/* 1150 */
@media (max-width:1150px){
  main{
    padding: 0px 100px;
  }
}

/* 1130 */
@media (max-width:1130px){
  main{
    padding: 0px 50px;
  }
}

/* 920 */
@media (max-width:920px){
  main{
    padding: 0px 30px;
  }
}

@media (max-width:1000px){
  header{
    padding: 18px 100px;
  }
}

@media (max-width:820px){
  header{
    padding: 12px 40px;
  }
  main .about .group-box .boxthree{
    flex-wrap: wrap;
  }
  main .about .group-box .boxthree .box{
    width: 48.1%;
  }
}
/* @media (max-width:700px){
  main{
    padding: 0 30px;
  }
} */
 /* 760 */
@media (max-width:760px){
  main .project .projectbox .box{
    width: 100%;
  }
  main .contact{
    width: 100%;
  }
}

@media (max-width:630px){
 header .nav-menu{
  display: none;
 }
 header .nav-logo{
  margin: auto;
 }
}

/* 576 */
@media (max-width:576px){
  main .hero h1{
    font-size: 50px;
    line-height: 85px;
  }
}
